https://www.linkedin.com/posts/kaia-nirmala_kerja-career-careertips-activity-7308336503976275969-mJvs?utm_source=share&utm_medium=member_desktop&rcm=ACoAADTi6hQBLjgNGu9NrqDDUgrmwOkcGm2DkM8


Courses and Project Recap: Completed Machine Learning Courses and Project at Coding Camp Powered by DBS Foundation with Dicoding.



I can't believe it's been 2 months since I joined the Coding Camp Powered by DBS Foundation program. There are many things that I have gained and learned from this program.



In these 2 months, I am grateful that I was able to complete all the courses and projects smoothly, although not all of them got perfect scores. All the time, effort, energy and hope that I put in got the results that I expected. Here are the courses and projects that I have completed:



Courses Completed: 

1. Memulai Dasar Pemrograman untuk Menjadi Pengembang Software

2. Pengenalan ke Logika Pemrograman (Programming Logic 101)

3. Belajar Dasar Git dengan GitHub

4. Belajar Dasar AI

5. Belajar Dasar Visualisasi Data

6. Belajar Dasar Structured Query Language (SQL)

7. Memulai Pemrograman dengan Python

8. Belajar Analisis Data dengan Python

9. Belajar Machine Learning untuk Pemula

10. Belajar Pengembangan Machine Learning

11. Belajar Fundamental Pemrosesan Data

12. Machine Learning Terapan



Project Completed.

1. Air Quality Analysis

2. Depression Segmentation and Classification

3. Sentiment Analysis on Telkomsel App Reviews

4. Image Classification for Animal Faces

5. Building ETL Pipeline

6. Predictive Modeling for Diabetes Diagnosis

7. Collaborative Filtering for Movie Recommendation System



I hope all the knowledge and insights that I have learned can be useful for myself and for others. Then I hope that the results that I have achieved can make me more enthusiastic and continue to learn to achieve all my dreams.



#LifeatCodingCamp #LearnatDicoding #DBSFoundationID #Dicoding